body {
  background-color: $main_bg;
}
.diss_sidebar {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 52px;
  bottom: 0;
  width: 350px;
  background-color: $sidebar_bg;
  padding: 0 30px;
  overflow-y: auto;
  h1 {
    color: $white;
    font-family: "Lato";
    > .badge {
      background-color: $yellow;
      font-size: 18px;
    }
  }
}

.btn_add {
  font-size: 27px;
  padding: 15px 0;
  width: 100%;
}

.orgchart {
  background-image: none;
}

.list-remove-btn {
  float: right;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 10px;
  cursor: pointer;
}

.alerts-container {
  width: 100%;
  position: fixed;
  top: 15px;
  z-index: 1000;
  .alerts {
    width: 500px;
    margin: 0 auto;
  }
}