.companies-item {
  padding: 15px;
  text-align: center;
  min-width: 362px;
  > a {
    display: block;
    border: 1px solid $gray;
    font-size: 36px;
    background: $white;
    text-transform: capitalize;
    padding: 100px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover {
      background: $company_hover_bg;
      text-decoration: none;
    }
  }
}

.orgchart-container {
  text-align: center;
  .node {
    .employee-btn {
      position: absolute;
      cursor: pointer;
      top: -7px;
      font-size: 20px;
      opacity: 0;
      transition: opacity .3s;
      &-add {
        color: $sidebar_bg;
        right: -3px;
      }
      &-copy {
        left: -3px;
        color: #000;
      }
      &-remove {
        color: red;
        right: -3px;
        top: 33px;
      }
    }
    &:hover {
      .employee-btn {
        opacity: 1;
      }
    }
  }
}
