.companies-item {
  padding: 15px;
  text-align: center;
  min-width: 362px;
  > a {
    display: block;
    border: 1px solid $gray;
    font-size: 36px;
    background: $white;
    text-transform: capitalize;
    padding: 100px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover {
      background: $company_hover_bg;
      text-decoration: none;
    }
  }
}