$main_bg: #fff;
$sidebar_bg : #3dbb75;

$white: #ffffff;
$yellow: #f0ad4e;
$gray: #cebfbf;

$big_btn_bg : #34cfc8;
$big_btn_border: #2dbdb6;
$big_btn_hover: #28a8a2;
$big_btn_focus: #23948f;

$company_hover_bg: #e6e6e6;