<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Диссертация</title>
  <script src="/bundle.js"></script>
</head>
<body>
<div ng-app="myApp">
  <div class="container-fluid">
    <navigation></navigation>
    <div ui-view></div>
  </div>
</div>
</body>
</html>