<div class="diss_sidebar">
    <h1>Орг. структура</h1>
    <companies-form m='$ctrl.m' success="$ctrl.save()" company="$ctrl.company"></companies-form>
    <button class="btn btn-warning btn_add helpers-margin-top-30" ng-click="$ctrl.openModal()">Добавить</button>
</div>


<div class="helpers-padding-left-350">
    <h2>Сотрудники</h2>
    <div class="row">
        <employees-item ng-repeat="employee in $ctrl.company.employees"
                        item="employee"></employees-item>
    </div>
</div>