<div class="container-fluid">
    <h2>Метод информационных оценок</h2>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Вариант организационной структуры</th>
                    <th>Системная сложность Со</th>
                    <th>Собственная сложность Сс</th>
                    <th>Внутренняя сложность Св</th>
                    <th>Коэффициент централизации</th>
                    <th>Коэффициент децентрализации</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="i in $ctrl.structureAnalysis">
                    <td>{{i.name}}</td>
                    <td>{{i.Co}}</td>
                    <td>{{i.Cc}}</td>
                    <td>{{i.Cb}}</td>
                    <td>{{i.a}}</td>
                    <td>{{i.b}}</td>
                </tr>
                </tbody>
            </table>
            <strong class="pull-right">Лучший вариант: {{$ctrl.structureAnalysisRec}}</strong>
        </div>
    </div>

    <h2>Метод, основанный на теории массового обслуживания</h2>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Вариант организационной структуры</th>
                    <th>Загруженность операциями</th>
                    <th>Среднее количество выполняемых операций, Ед.</th>
                    <th>Среднее время выполнения операции, Мин.</th>
                    <th>Среднее количество операций, ожидающих выполнения, Ед.</th>
                    <th>Среднее время ожидания выполнения операций, Мин.</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="i in $ctrl.smoAnalysis">
                    <td>{{i.name}}</td>
                    <td>{{i.P}}</td>
                    <td>{{i.Lsis}}</td>
                    <td>{{i.Wsis}}</td>
                    <td>{{i.Loch}}</td>
                    <td>{{i.Woch}}</td>
                </tr>
                </tbody>
            </table>
            <strong class="pull-right">Лучший вариант: {{$ctrl.smoAnalysisRes}}</strong>
        </div>
    </div>
    <a href="/api/calculations/cvs-export.csv" class="btn btn-success">Экспортировать</a>
</div>
